
.main{
    background: #494b5223;
    padding: 15px;
}
#banner{
    width: 100%;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}
#mision{
    text-align: center;
    font-size: 20px;
}

p em strong{
    color: rgb(39, 17, 80);
}

.diff{
    background: #235253;
    padding: 30px;
}

h2{
    text-align: center;
}
.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imgDiff{
    width: 50%;
}